* {
  text-decoration: none !important;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  appearance: none;
}

a {
  color: #595959;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  gap: 0.2rem;
  justify-content: center;
}

h1 {
  color: black;
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: -0.0525rem;
  text-align: center;
  padding: 5rem;
  background-image: url("../images/books.svg");
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

h2 {
  color: black;
  font-size: 1.7rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: -0.0225rem;
  padding: 0.2rem;
}

h3 {
  color: black;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.0025rem;
}

.copyRights {
  color: black;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.0125rem;
  display: block;
  border: 1.5px solid #595959;
  padding: 0.5rem;
  margin: 0.3rem;
}

.copyRights a {
  color: blue;
}

.navBar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem;
  border: 2px solid #595959;
  padding: 0.5rem;
}

.navBar h1 {
  color: black;
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: -0.0525rem;
  align-self: flex-start;
  margin-left: 2.5rem;
}

.navBar div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1.5rem;
  gap: 1rem;
}

.navBar div a {
  color: black;
  font-size: 1.7rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: -0.0225rem;
}

.dayDate {
  color: black;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.0125rem;
  font-weight: 600;
  align-self: flex-end;
  margin-right: 0.4rem;
}

#container {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0.3rem;
  justify-content: stretch;
  align-items: center;
  margin-top: 0.1rem;
  color: #595959;
  border-radius: 5px;
  padding: 0.1rem;
  gap: 0.5rem;
}

#container h3 {
  margin-top: 3rem;
}

#container ul li {
  color: black;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.0125rem;
}

.bookForm {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

input {
  padding: 0.6rem;
  border: 1px solid #595959;
  border-radius: 3px;
  color: black;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.0125rem;
}

.button {
  transition: all 0.5s;
  cursor: pointer;
  background: #7f7f7f;
  border: 1px solid #595959;
  box-shadow: 2px 2px 4px 0 rgba(59, 59, 59, 0.25);
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.001em;
  word-spacing: normal;
  transition-duration: 0.4s;
  align-self: flex-start;
  padding: 0.6rem;
  width: 4.5rem;
  height: 2.5rem;
}

.newBook {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  color: black;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.0125rem;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 0.2rem;
  gap: 0.2rem;
  width: 60vw;
}

.bookPart {
  flex: 5;
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #595959;
  border-radius: 4px;
}

.remove {
  flex: 1;
  transition: all 0.5s;
  cursor: pointer;
  background: #7f7f7f;
  border: 1px solid #595959;
  box-shadow: 2px 2px 4px 0 rgba(59, 59, 59, 0.25);
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.001em;
  word-spacing: normal;
  transition-duration: 0.4s;
  align-self: flex-end;
  padding: 0.3rem;
}

.hline {
  border-bottom: 1px solid #595959;
  text-align: center;
}

.hide {
  display: none !important;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
