@import main

nav
    @include columnFlex
    padding: .2rem
    gap: .2rem
    justify-content: center
h1
    @include smlInterH1
    text-align: center
    padding: 5rem
    @include transparentText

h2
    @include smlInterH2
    padding: .2rem
h3
    @include smlInterH3

.copyRights
    @include smlInterP
    display: block
    border: 1.5px solid $primaryColor
    padding: .5rem
    margin: .3rem
    a
        color: blue
.navBar
    @include rowFlex
    gap: 2rem
    justify-content: space-between
    align-items: center
    margin: .3rem
    border: 2px solid $primaryColor
    padding: .5rem
    h1
        @include smlInterH1
        align-self: flex-start
        margin-left: 2.5rem
    div
        @include rowFlex
        align-items: center
        margin-right: 1.5rem
        gap: 1rem
        a
            @include smlInterH2

.dayDate
    @include smlInterP
    font-weight: 600
    align-self: flex-end
    margin-right: .4rem
#container
    @include columnFlex
    align-self: center
    margin: 0.3rem
    justify-content: stretch
    align-items: center
    margin-top: .1rem
    color: $primaryColor
    border-radius: 5px
    padding: .1rem
    gap: .5rem
    h3
        margin-top: 3rem
    ul
        li
            @include smlInterP
.bookForm
    margin-top: 1rem
    @include columnFlex
    justify-content: center
    align-items: center
    gap: .5rem

input
    padding: 0.6rem
    border: 1px solid #595959
    border-radius: 3px
    @include smlInterP
.button
    @include button
    align-self: flex-start
    padding: .6rem
    width: 4.5rem
    height: 2.5rem
.newBook
    @include rowFlex
    justify-content: stretch
    align-items: stretch
    @include smlInterP
    background: #f2f2f2
    border-radius: 4px
    padding: .2rem
    gap: .2rem
    width: 60vw
.bookPart
    flex: 5
    @include rowFlex
    padding: .2rem
    justify-content: space-between
    align-items: center
    border: 2px solid $primaryColor
    border-radius: 4px
.remove
    flex: 1
    @include button
    align-self: flex-end
    padding: .3rem

.hline
    border-bottom: 1px solid $primaryColor
    text-align: center

.hide
    display: none !important
footer
    position: absolute

    bottom: 0
    width: 100%
