@import main

#backgrod
    width: 80vw
    height: 50vh
    background: rebeccapurple
    justify-content: center
    justify-items: center
    align-content: center
    align-items: center

.backgrod
    display: flex
    flex-direction: row
    justify-content: center

#test #test1
    padding: 5%
    font-size: larger
    font-weight: 800
    color: rgb(35, 161, 161)
.bookForm
    @include columnFlex
    justify-content: center
    align-items: center
    gap: .3rem
.button
    @include button

    /* default media Query screen sizes
// mobile
// @media (max-width: 767px)

// small screen
// @media (min-width: 768px)

// mediam screen
// @media (min-width: 992px)

// large screen
// @media (min-width: 1200px)
// } */
